.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.image-description {
  width: 6rem;
  height: 6rem;
}

.bold-text {
  color: #57af39;
  font-weight: bolder;
  font-size: 25px;
}

.mainLogo {
  width: 50%;
  pointer-events: none;
}

.count{
  font-weight: bold!important;
  font-size: 5rem!important;
  margin-right: 0.5rem!important;
  font-family: 'Abril Fatface'!important;
}

.back {
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(225 245 227));
}
