.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.image-description {
  width: 4.2rem;
  height: 4.2rem;
}

.bold-text {
  color: #245d2b;
  font-weight: bolder;
  font-size: 22px;
}

.mainLogo {
  width: 70%;
  pointer-events: none;
}

.count{
  font-weight: bold!important;
  font-size: 5rem!important;
  margin-right: 0.5rem!important;
  font-family: 'Abril Fatface'!important;
  color: #ef7f1c;
}

.colorFont {
  color: #245d2b;
}

.back {
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(225 245 227));
}

#example1 {
  background: url(assets/Background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}
